<% content_for(:title, t('.title')) %>
<main class="form-signin w-100 m-auto">
  <%= render 'shared/flash_message' %>
  <%= form_with url: admin_login_path, data: { turbo: false } do |f| %>
    <h1 class="h3 mb-3 fw-normal"><%= t('.title') %></h1>

    <div class="form-floating">
      <%= f.email_field :email, class: "form-control", placeholder: "name@example.com" %>
      <%= f.label :email%>
    </div>
    <div class="form-floating">
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      <%= f.label :password %>
    </div>
    <%= f.submit t('.login'), class: "w-100 btn btn-lg btn-primary" %>
  <% end %>
  <%= render 'admin/shared/footer'%>
</main>