<% content_for :title, page_title('掲示板一覧') %>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%= search_form_for @q, url: boards_path, method: :get do |f| %>
        <div class="input-group mb-3">
          <%= f.search_field :title_or_body_cont, placeholder: "検索ワード", class: "form-control" %>
          <div class="input-group-append">
            <%= f.submit "検索", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @boards.present? %>
          <% @boards.each do |board| %>
            <%= render partial: "boards/board", locals: { board: board } %>
          <% end %>
        <% else %>
          <div class="mb-3">掲示板がありません</div>
        <% end %>
      </div>
      <!-- ページネーションリンク -->
      <% if @boards.total_count > 20 %>
        <div class="d-flex justify-content-center">
          <%= paginate @boards %>
        </div>
      <% end %>
    </div>
  </div>
</div>