<% content_for :title, '掲示板作成' %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>

      <% if @board.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @board.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
      <%= form_with model: @board, local: true, html: { multipart: true }, class: "new_board" do |f| %>
        <div class="mb-3">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :body %>
          <%= f.text_area :body, class: "form-control", rows: "10" %>
        </div>
        <div class="mb-3">
          <%= f.label :board_image, 'サムネイル' %>
          <%= f.file_field :board_image, class: "form-control",accept: 'image/*' %>
        　<%= f.hidden_field :board_image_cache %>
        </div>
        <%= f.submit nil, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>