<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <div class="text-right mb-3">
        <%= link_to t('defaults.edit'), edit_admin_user_path(@user), class: 'btn btn-success' %>
        <%= link_to t('defaults.delete'), admin_user_path(@user), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: 'btn btn-danger' %>
      </div>
      <table class="table table-bordered bg-white">
        <tr class="table-row">
          <th scope="row"><%= User.human_attribute_name(:id) %></th>
          <td><%= @user.id %></td>
        </tr>
        <tr class="table-row">
          <th scope="row"><%= User.human_attribute_name(:role) %></th>
          <td><%= @user.role_name %></td>
        </tr>
        <tr class="table-row">
          <th scope="row"><%= User.human_attribute_name(:full_name) %></th>
          <td><%= @user.decorate.full_name %></td>
        </tr>
        <tr class="table-row">
          <th scope="row"><%= User.human_attribute_name(:avatar) %></th>
          <td>
            <% if @user.avatar.present? %>
              <%= image_tag @user.avatar.url, class: 'img-fluid' %>
            <% else %>
              <%= image_tag 'default_avatar.png', class: 'img-fluid' %> <!-- デフォルトのアバター画像を指定 -->
            <% end %>
          </td>
        </tr>
        <tr class="table-row">
          <th scope="row"><%= User.human_attribute_name(:created_at) %></th>
          <td><%= l @user.created_at, format: :long %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
